<section id="contact" class="container dark">
  <div class="content">
    <div class="title icon-phone">
      <h1>Contact <span>Someone's going to read this, honest.</span></h1>
    </div>
    <div class="full">
      {{contact-form}}
    </div>
  </div>
</section>
