<section id="contact" class="container dark">
  <div class="content">
    <div class="title icon-phone">
      <h1>Contact <span>Someone's going to read this, honest.</span></h1>
    </div>
    <div class="full">
      <div id="contact-form">
        <form id="contact-us" action="#">
          <div class="column-half">
            <div class="formblock">
              <input type="text" name="contactName" id="contactName" value="" class="txt requiredField" placeholder="Name:">
            </div>
            <div class="formblock">
              <input type="text" name="email" id="email" value="" class="txt requiredField email" placeholder="Email:">
            </div>
            <div class="formblock">
              <textarea name="comments" id="commentsText" class="txtarea requiredField" placeholder="Message:"></textarea>
            </div>
            <button name="submit" type="submit" class="subbutton">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
