<section id="about" class="container dark">
  <div class="content">
    <div class="title icon-and">
      <h1>Login <span> because whoe doesn't like authentication ;-)</span></h1>
      <br><br>
        {{login-form}}
    </div>
  </div>
</section>
